[package]
name = "yew-cherry-online"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
log = "0.4"
wasm-bindgen = "0.2"
wasm-logger = "0.2"
yew = "0.19"
